@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="form-group">
    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @*ViewBag.CityList is holding all the cities values*@
        @Html.DropDownList("Report", new List<SelectListItem>  , new { @class = "form-control" })
    </div>
</div>
