
@{
    ViewBag.Title = "SaveCollectedByInfo";
}

<h2>SaveCollectedByInfo</h2>

<form action="~/Billing/SaveCollectedByInfo" method="post">
    <label>Collected By Name</label>
    <input type="text" name="CollectedByName"  /><br />
    <input type="submit" value="Update" />
</form>