
@{
    ViewBag.Title = "Create";
}

<h2>Create Notification</h2>


<form action="~/Notification/Create" method="post">
    <label>Notification</label>
    <textarea rows="15" cols="950"  name="Name" value=""></textarea><br />
    <input type="submit" class="btn btn-success" />
</form>

